*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inp-form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.display-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.display-note{
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
